<div class="row">
    <div class="col-12">
        <img src="https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80" class="img-fluid" alt="Responsive image">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="">Add ingredient</a></li>
                <li><a href="">Edit Recipe</a></li>
                <li><a href="">Delete Recipe</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>